-- Script Date: 7/03/2011 22:50  - Generated by ExportSqlCe version 3.5.0.9
-- Database information:
-- Locale Identifier: 2067
-- Encryption Mode: 
-- Case Sensitive: False
-- Database: C:\Projecten\Org.NerdBeers\src\Org.NerdBeers\Org.NerdBeers.Web\App_Data\NerdBeers.sdf
-- ServerVersion: 4.0.8482.1
-- DatabaseSize: 106496
-- Created: 3/03/2011 23:13

-- User Table information:
-- Number of tables: 3
-- BeerEvents: 7 row(s)
-- Nerds: -1 row(s)
-- NerdSubscriptions: -1 row(s)

CREATE TABLE [BeerEvents] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [Name] nvarchar(255) NOT NULL
, [Location] nvarchar(1023) NOT NULL
, [EventDate] datetime NOT NULL
);
GO
CREATE TABLE [Nerds] (
  [Id] int NOT NULL  IDENTITY (9,1)
, [Name] nvarchar(255) NOT NULL
, [Guid] nvarchar(128) NOT NULL
);
GO
CREATE TABLE [NerdSubscriptions] (
  [Id] int NOT NULL  IDENTITY (9,1)
, [NerdId] int NOT NULL
, [EventId] int NOT NULL
);
GO
ALTER TABLE [BeerEvents] ADD CONSTRAINT [PK__BeerEvents__0000000000000018] PRIMARY KEY ([Id]);
GO

