<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.8.1" />
  <package id="Nancy.Authentication.Forms" version="0.8.1" />
  <package id="Nancy.Hosting.Aspnet" version="0.8.1" />
  <package id="Nancy.Viewengines.Razor" version="0.8.1" />
  <package id="Nancy.Viewengines.Spark" version="0.8.1" />
  <package id="Simple.Data.Ado" version="0.9.8.2" />
  <package id="Simple.Data.Core" version="0.9.8.2" />
  <package id="Simple.Data.SqlCompact40" version="0.9.8.2" />
  <package id="Simple.Data.SqlServer" version="0.9.8.2" />
  <package id="Spark" version="1.5.1" />
</packages>