<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
  </configSections>
  
  <!-- 
  We can override the bootstrapper inside the config if we don't want to rely on the bootstrapper locator.
  -->

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>

  <spark>
    <compilation debug="true|false" defaultLanguage="Default|CSharp|VisualBasic">
      <assemblies>
        <!--
        <add assembly="YourAssemblyName" />
        <add assembly="YourOtherStrongAssemblyName, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        -->
      </assemblies>
    </compilation>
    <pages automaticEncoding="true|false" pageBaseType="Your.NonDefault.BaseSparkView" prefix="{optional string}">
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Web.Mvc"/>
      </namespaces>
      <resources>
        <add match="/content/css" location="http://www.yourcdnprovider.com/youraccount/allstyles/css"/>
        <add match="/content/js" location="http://www.yourcdnprovider.com/youraccount/appname/js"/>
      </resources>
    </pages>
  </spark>

</configuration>

