<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications" version="0.4.24.0" />
  <package id="Nancy" version="0.8.1" />
  <package id="Nancy.Authentication.Forms" version="0.8.1" />
  <package id="Nancy.Hosting.Aspnet" version="0.8.1" />
  <package id="Nancy.Testing" version="0.8.1" />
  <package id="Nancy.Viewengines.Spark" version="0.8.1" />
  <package id="Simple.Data.Ado" version="0.9.8.2" />
  <package id="Simple.Data.Core" version="0.9.8.2" />
  <package id="Simple.Data.Mocking" version="0.9.8.2" />
  <package id="Simple.Data.Sqlite" version="0.9.6.3" />
  <package id="Spark" version="1.5.1" />
  <package id="System.Data.SQLite" version="1.0.76.0" />
  <package id="xunit" version="1.7.0.1540" />
</packages>